{% extends "base.html" %}

<!-- Content block -->

{% block content %}
  <div class="container-fluid">

    <!-- Styles block -->
    {% block styles%}
        {{ super() }}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    {% endblock %}

    <!--Heading-->
    <div class="heading">
      <h1>News Sources</h1>
    </div>

    <div class="news-sources">
      {% for news_article_source in sources %}
        
        <div class=" col-xs-12 col-sm-2 col-md-6 col-lg-2 news-source">
          <h3>{{ news_article_source.name }}</h3>
          <a href="{{ news_article_source.url }}">Visit source page</a>
          <hr>
          <p> <i>{{ news_article_source.description }}</i> </p>
          <a href="/article/{{news_article_source.id}}">View articles</a>
        </div>
        
      {% endfor %}
    </div>

  </div>
{% endblock %}